
.icon-skype-outline:before { content: '\e801'; } /* '' */
.icon-skype:before { content: '\e802'; } /* '' */
.icon-twitter-circled:before { content: '\e800'; } /* '' */
.icon-github-circled-alt:before { content: '\f337'; } /* '' */
.icon-github-circled:before { content: '\f336'; } /* '' */
.icon-github:before { content: '\f335'; } /* '' */
.icon-github-circled-alt2:before { content: '\f338'; } /* '' */
.icon-linkedin-circled:before { content: '\f340'; } /* '' */
.icon-linkedin:before { content: '\f339'; } /* '' */
.icon-xing:before { content: '\f333'; } /* '' */
.icon-xing-squared:before { content: '\f334'; } /* '' */
.icon-twitter-circled-1:before { content: '\e803'; } /* '' */